* {
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (orientation:landscape) {
    .canvas {
        position: relative;
        height: 100vh;
        width: 100vmin;
        background: url('wetMountains.jpg');
        /*background-color: black;*/
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
    }
}

@media only screen and (max-height: 700px) and (orientation:landscape) {
    .canvas {
        position: relative;
        height: 100vh;
        width: 100vw;
        background: url('wetMountains.jpg');
        /*background-color: black;*/
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
    }
}

@media only screen and (orientation:portrait) {
    .canvas {
        position: relative;
        height: 100vh;
        width: 100vw;
        background: url('wetMountains.jpg');
        /*background-color: black;*/
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
    }
}

.droplet {
    position: absolute;
    border-radius: 0 50% 50% 50%;
    background-color: rgba(100,120,150,0.5);
    /*background-color: white;*/
    transform: rotate(45deg);
    box-shadow: 0px 0px 2px 1px rgba(100,120,150,0.5);
}

.splatterEffect {
    position: absolute;
    border-radius: 50%;
    /*height: 2px;
    width: 8px;*/
    opacity: 0;
    background-color: rgba(50,50,100,0.3);
    box-shadow: 0px 0px 4px 0.1px rgba(255,255,255, 0.8);
    -webkit-animation: splatterDissolve 0.5s linear;
    animation: splatterDissolve 0.5s linear;
}

@-webkit-keyframes splatterDissolve {
  0% {opacity: 1; transform: scale(1.0);}
  100% {opacity: 0; transform: scale(3);}
}
@keyframes splatterDissolve {
  0% {opacity: 1; transform: scale(1.0);}
  100% {opacity: 0; transform: scale(3);}
}

